@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Space Mono', monospace;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
    font-size: 16px;

    /* Primary */
    --dark-cyan: #00474b;
    --cyan: #3d6666;
    --light-cyan: #547878;
    --lightest-cyan: #5e7a7d;

    --bright-cyan: #26c2ae;
    --bright-cyan-hover: #9fe8df;
    --disabled-cyan: #0d686d;

    --error: #e17457;

    /* Neutral */
    --gray: #9ebbbd;
    --light: #f3f9fa;

    --bg: #c5e4e7;

    /* Typography */
    --strong: 3rem;
    --strong-letter-spacing: -1px;

    --body-l: 1.5rem;

    --body: 1rem;

    --body-s: 0.813rem;

    --button: 1.25rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.strong-text {
    font-size: var(--strong);
    letter-spacing: var(--strong-letter-spacing);
}

.body-l-text {
    font-size: var(--body-l);
}

.body-text {
    font-size: var(--body);
}

.body-s-text {
    font-size: var(--body-s);
}

/* Removes number up/down arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
}

input {
    min-width: 0;
}

@media (max-width: 375px) {
    :root {
        --strong: 2rem;
        --strong-letter-spacing: -0.66px;
    }
}

.logo {
    margin-bottom: 90px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 32px 43px 0 rgba(79, 166, 175, 0.2);
    border-radius: 25px;
    max-width: 920px;
    padding: 32px;
    width: 100%;
}

.card-left {
    margin-right: 48px;
}

.input-label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.input-error {
    display: none;
    font-weight: bold;
    color: var(--error);
}

.input-group-error .input-error {
    display: block;
}

.input-label {
    display: block;
    font-weight: bold;
    color: var(--lightest-cyan);
}

.input-field {
    border: 2px solid transparent;
    text-align: right;
    font-weight: bold;
    outline: none;
    background-color: var(--light);
    color: var(--dark-cyan);
    padding: 6px 18px 6px 38px;
    border-radius: 5px;
    width: 100%;
}

.input-field:focus {
    border: 2px solid var(--bright-cyan);
}

.input-field::placeholder {
    color: rgba(0, 71, 75, 0.35);
}

.input-group-error .input-field {
    border: 2px solid var(--error);
}

#totalTipPercentage {
    padding: 6px 12px;
}

#totalTipPercentage::placeholder {
    color: var(--light-cyan);
}

.input-group {
    position: relative;
}

.input-group:not(:last-child) {
    margin-bottom: 40px;
}

.input-group::before {
    position: absolute;
    content: '';
    bottom: 16.5px;
    left: 18px;
}

#totalBillGroup::before {
    background: no-repeat url('../public/icons/icon-dollar.svg');
    height: 17px;
    width: 11px;
}

#numberOfPeopleGroup::before {
    background: no-repeat url('../public/icons/icon-person.svg');
    height: 16px;
    width: 13px;
}

.input-tips-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 118px));
    grid-template-rows: repeat(2, 48px);
    column-gap: 14px;
    row-gap: 16px;
}

.input-tip {
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 2px solid transparent;
    background-color: var(--dark-cyan);
    border-radius: 5px;
}

.input-tip:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: var(--bright-cyan-hover);
    color: var(--dark-cyan);
}

.input-tip:focus {
    border: 2px solid var(--bright-cyan);
}

.input-tip-active {
    background-color: var(--bright-cyan);
    color: var(--dark-cyan);
}

.card-right {
    background-color: var(--dark-cyan);
    border-radius: 15px;
    max-width: 415px;
    padding: 40px;
    flex-grow: 1;
    width: 100%;
}

.card-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-price-container:first-child {
    margin-bottom: 25px;
}

.card-price-title {
    color: #fff;
    font-weight: bold;
}

.card-price-subtitle {
    font-weight: bold;
    color: var(--gray);
}

.card-price-value {
    font-weight: bold;
    color: var(--bright-cyan);
}

.btn-reset {
    margin-top: 120px;
    width: 100%;
}

@media (max-width: 800px) {
    .card {
        flex-direction: column;
        border-radius: 25px 25px 0 0;
        padding: 32px 24px;
    }

    .card-left,
    .card-right {
        max-width: none;
        width: 100%;
    }

    .card-left {
        margin: 0 0 32px 0;
        padding: 0 8px;
    }

    .card-right {
        padding: 40px 24px 24px 24px;
    }

    .card-price-container:first-child {
        margin-bottom: 20px;
    }

    .input-group:not(:last-child) {
        margin-bottom: 32px;
    }

    .btn-reset {
        margin-top: 32px;
    }

    .input-tips-container {
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        column-gap: 17px;
    }

    #totalTipPercentage::placeholder {
        text-align: center;
    }

    .logo {
        margin: 50px 0 40px 0;
    }
}

@media (max-width: 450px) {
    .input-tips-container {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }
}
.btn {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary {
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--bright-cyan);
    color: var(--dark-cyan);
    padding: 14px;
}

.btn-primary:hover,
.btn-primary:focus {
    transition: all 0.2s ease-in-out;
    background-color: var(--bright-cyan-hover);
}

.btn-primary:disabled {
    cursor: not-allowed;
    transition: all 0.2s ease-in-out;
    background-color: var(--disabled-cyan);
    color: rgba(0, 71, 75, 0.35);
}